body
{
    background: rgb(142,128,106);
    background: radial-gradient(circle, rgba(142,128,106,1) 0%, rgba(228,205,167,1) 35%, rgba(228,205,167,1) 100%);
}
.imgRedonda
{
    width: 150px;
    height: 150px;
    border-radius: 160px;
    border: 10px solid #666;
}
#cabecera
{
    background: -moz-repeating-linear-gradient();
    box-shadow: 0px 2px 20px 0px rbga(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}